<connectionStrings>

  <add name="DefaultConnection" connectionString="Data Source=SSERURICH-PC;Initial Catalog=Higgs.Mbale;User Id=sa;Password=kagwa18$$;" providerName="System.Data.SqlClient" />

  <add name="MbaleEntities" connectionString="metadata=res://*/Models.Model.csdl|res://*/Models.Model.ssdl|res://*/Models.Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SSERURICH-PC;initial catalog=Higgs.Mbale;user id=sa;password=kagwa18$$;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>